.header {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.headerTittle {
  color: palevioletred;
}
.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
