.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin: auto 30px 16px 30px;
  border-bottom: 1px solid black;
}

.headerTittle {
  color: palevioletred;
}
.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
