.castList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.castList > li {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}
